.cadastroP{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 48%;
}

.formP{
    padding: 10px;
}

.formP input {
    border-radius: 2px;
    border: solid 1px lightgrey;
    background-color: #F4F4F4;
    color: gray;
    margin: 5px;
}

.downInputsP {
    width: 28.7%;
}

.formP select {
    border-radius: 2px;
    border: solid 1px lightgrey;
    background-color: #F4F4F4;
    color: gray;
    margin: 5px;
}

.submit-inputP {
    width: 91%; 
    border-radius: 2px; 
    border: none; 
    background-color: #6a65fe; 
    color: black; 
    padding: 5px; 
    margin: 5px;
    font-weight: bold;
}

.productsP {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 50%; 
    border-left: solid 1px lightgrey;
    padding-left: 15px;
    height: 70%;
}

table {
    border-collapse: collapse;
    max-width: 98%;
    word-break: break-all;
}

th {
    border-bottom: solid 1px lightgrey;
    border-collapse: collapse;
    padding: 10px;
    text-align: start;
    border-right: solid 1px lightgrey;
    width: 19%;
}

tr {
    max-width: 98%;
}

td {
    border-bottom: solid 1px lightgrey;
    border-left: solid 1px lightgrey;
    border-collapse: collapse;
    padding: 10px;
    text-align: start;
}

.tdbtnP {
    border-radius: 2px; 
    border: none; 
    color: black; 
    padding: 5px; 
    font-weight: bold;
    background-color: lightgray;
    width: 100%; 

}