.cadastroC{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 48%;
}

.formC{
    padding: 10px;
}

.formC input {
    border-radius: 2px;
    border: solid 1px lightgrey;
    background-color: #F4F4F4;
    color: gray;
    margin: 5px;
    width: 90%;
}

.submit-inputC {
    width: 91%; 
    border-radius: 2px; 
    border: none; 
    background-color: #6a65fe; 
    color: black; 
    padding: 5px; 
    margin: 5px;
    font-weight: bold;
}

.categoriesC{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 50%; 
    border-left: solid 1px lightgrey;
    padding-left: 15px;
    height: 70%;
}

.tableC {
    border-collapse: collapse;
    max-width: 98%;
    /* background-color: red; */
    word-break: break-all;
}

tr {
    max-width: 98%;
}

th {
    border-bottom: solid 1px lightgrey;
    /* border-left: solid 1px lightgrey; */
    border-collapse: collapse;
    padding: 10px;
    text-align: start;
    border-right: solid 1px lightgrey;
    /* width: 24%; */
}

td {
    border-bottom: solid 1px lightgrey;
    border-left: solid 1px lightgrey;
    border-collapse: collapse;
    padding: 10px;
    text-align: start;
}

.tdbtnC {
    border-radius: 2px; 
    border: none; 
    color: black; 
    padding: 6px;
    width: 75%; 
    font-weight: bold;
    background-color: lightgray;
    /* justify-content: center; */
}